/* Emoji reacts */
img.c-emoji__small {
    height: 64px !important;
    width: 64px !important;
}

/* Jumbo emojis */
img.c-emoji__large {
    height: 128px !important;
    width: 128px !important;
}

/* Inline message emojis */
.c-message__body .c-emoji__medium {
    height: 64px !important;
    width: 64px !important;
}
.c-emoji__medium img {
    height: 64px !important;
    width: 64px !important;
    margin-top: -32px !important
}
span.c-emoji__medium {
    height: 64px !important;
    width: 64px !important;
}

/* Status custom emojis */
.c-custom_status img {
    width: 32px !important;
    height: 32px !important;
    margin-top: -16px !important;
}
.c-custom_status .c-emoji__small {
    width: 32px !important
}

/* Send message custom status emojis*/
.c-texty_input__placeholder .c-custom_status--inline .c-emoji__medium {
    width: 32px !important;
}
.c-texty_input__placeholder .c-custom_status--inline .c-emoji__medium img {
    width: 32px !important;
    height: 32px !important;
    margin-top: -26px !important;
}

.c-emoji--inline.c-emoji__small img {
    height: 32px !important;
    width: 32px !important;
    margin-top: -16px !important;
}
.c-emoji__small {
    width: 32px !important;
}
